name: lbs_pedometer
description: A new Flutter plugin.
version: 1.2.1
author:
homepage: lbstech.net

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  plugin:
    platforms:
      android:
        package: plugin.net.lbstech.lbs_pedometer
        pluginClass: LbsPedometerPlugin
      ios:
        pluginClass: LbsPedometerPlugin
